<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @get_free_consultant.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @get_free_consultant.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @get_free_consultant.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @get_free_consultant.address %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @get_free_consultant.dob %>
</p>

<p>
  <strong>Street name:</strong>
  <%= @get_free_consultant.street_name %>
</p>

<p>
  <strong>District:</strong>
  <%= @get_free_consultant.district %>
</p>

<p>
  <strong>Sector:</strong>
  <%= @get_free_consultant.sector %>
</p>

<p>
  <strong>Cell:</strong>
  <%= @get_free_consultant.cell %>
</p>

<p>
  <strong>How did you us:</strong>
  <%= @get_free_consultant.how_did_you_us %>
</p>

<p>
  <strong>Height:</strong>
  <%= @get_free_consultant.height %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @get_free_consultant.weight %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @get_free_consultant.gender %>
</p>

<p>
  <strong>Concern:</strong>
  <%= @get_free_consultant.concern %>
</p>

<p>
  <strong>Family history:</strong>
  <%= @get_free_consultant.family_history %>
</p>

<p>
  <strong>Subcribe article:</strong>
  <%= @get_free_consultant.subcribe_article %>
</p>

<p>
  <strong>Time:</strong>
  <%= @get_free_consultant.time %>
</p>

<%= link_to 'Edit', edit_get_free_consultant_path(@get_free_consultant) %> |
<%= link_to 'Back', get_free_consultants_path %>
