<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @publisher.name %>
</p>

<p>
  <strong>Publish:</strong>
  <%= @publisher.publish %>
</p>

<p>
  <strong>Email:</strong>
  <%= @publisher.email %>
</p>

<p>
  <strong>Time:</strong>
  <%= @publisher.time %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_publisher_path(@publisher) %> |
<%= link_to 'Back', publishers_path %>
<p id="notice"><%= notice %></p>
